<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3VoTw6XObol0M1Kk-y1cPTFTbB4zXfG8</string>
	<key>GCM_SENDER_ID</key>
	<string>749384627757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.kambiz.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-c0215</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-c0215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749384627757:ios:f5c83376306890879faaa4</string>
</dict>
</plist>